Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([A-Za-z0-9]{8})(?:\.([A-Za-z0-9]{1,20}))?$ index.php?d=$1&ext=$2 [QSA,L,NC]
</IfModule>
